.head{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ul{
  text-decoration: none;
  color: white;
  margin: 0 ;
  display: flex;
  padding: 0 ;
}
li{
  padding: 8px 20px;
  font-weight: bolder;
  font-family: 'Archivo Black', sans-serif;
  display: inline;
}
mat-icon{
  font-size: 56px;
}
a{
  font-size: 80px;
  text-decoration: none;
  color: white;
}
a:active {
  color: #ff7043;
}
.active a {
  color: #ff7043;
}
@media (max-width: 800px) {
  a {
    font-size: 60px;
  }
  li{
    padding: 8px 16px;
  }
  mat-icon{
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  a {
    font-size: 35px;
  }

  li {
    padding: 8px 12px;
  }
  mat-icon{
    font-size: 45px;
  }
}
 @media (max-width: 400px) {
    a {
      font-size: 25px;
    }
    li{
      padding: 8px ;
    }
   mat-icon{
     font-size: 35px;
   }
}
